<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if current_user.nil? %>
    <%= link_to "Sign In Yo", new_session_url %>
    <%= link_to "Sign Up Yo", new_user_url %>
  <% else %>
    Hi <%= current_user.email  %>
    <%= button_to "Log Out :(", session_url, method: :delete%>
    <% end %>

    <%= yield %>
  </body>
</html>
